 :root {
    --primary-color: #000000;
    --secondary-color: #E6F4E6;
    --text-color: #F4D06F;
    --accent-color: #FFFFFF;
}

 
 
 

@font-face {
    font-family: 'Brook';  
    src: url('./fontes/Brookliness.otf') format('woff');  
    font-weight: normal;  
    font-style: normal;   

   font-family: 'padraoEscrita';  
    src: url('./fontes/BrookfieldDemoRegular.ttf') format('woff');

     font-family: 'kalan';  
    src: url('./fontes/Kalam-Bold.ttf') format('woff');
}



/* .logotitulo {
    font-family: Brook;
    color: var(--primary-color);
} */

.logo {
    width: 90dvh;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    /* max-height: 390px; */
    
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'padraoEscrita';
}

body {
    font-family:  'Brook';
    background-color: var(--primary-color);
    color: var(--text-color);
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
}

.TextoCenter {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;

    /* Alinhamento central */
    display: flex;
    flex-direction: column; /* Mantém os textos empilhados, caso necessário */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Alinha o texto dentro dos elementos */
}


nav   {
    background-color: rgb(29, 143, 25)  ;
     background: linear-gradient(to bottom, rgb(17, 63, 8), #4ba850);



    padding: 6px;
    margin: 0px;
    width: 100%


    
    /* height: auto; */
    /* border-radius: 10px; */
    padding: 5px;
    max-height: 390px;
    
}

 

 


header h1 {
    font-size: 1.8rem;
    color: var(--accent-color);
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0.5rem;

}

header nav ul li {
    margin: 0 1rem;
     
}

header nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 4vw;
    transition: color 0.3s;
    font-family: "Kalan";
    
     
}

header nav ul li a:hover {
    color: var(--accent-color);
}

 

.hero {
    text-align: center;
    padding: 4rem 0;
    background: url('https://img.freepik.com/fotos-gratis/mosaico-de-marmore-material-material-duravel_1253-850.jpg?t=st=1733148340~exp=1733151940~hmac=f197be3596a678b9d80558e2950238206a393c53a122bf39a753a10521ee46b2&w=740') no-repeat center center/cover;
      /* acima imagem de marmore do site  */
    color: var(--text-color);
}

.hero   {
    font-size: 1.8rem;
    margin-bottom: 1rem;
     
}

.hero .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background: rgb(221, 221, 129);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 4vw;
    border-radius: 5px;
    transition: background 0.3s;
    font-family: "Kalan";
}

.hero .btn:hover {
    background: var(--text-color);
    color: var(--accent-color);
}

section {
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}



.grid .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    max-height: 390px;
     cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content img {
  max-height: 400px;
  border-radius: 10px;
}

.modal img {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






form input, form textarea, form button {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
}

form button {
    background: var(--accent-color);
    color: var(--primary-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: var(--text-color);
    color: var(--accent-color);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: var(--secondary-color);
    margin-top: 2rem;
}



 

 

.footerP {

    color: black;
    font-family: "Kalan" ;
     
}

  

 .promo {
font-family: kalan ;

font-size: 2rem;
      font-weight: bold;
       
      color: yellow;
      text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px orange, 0 0 40px red;
      animation: glow 2s infinite;
  
}
/* efeito para letreiro de natal  */
@keyframes glow {
      0% {
        color: yellow;
        text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px orange, 0 0 40px red;
      }
      50% {
        color: orange;
        text-shadow: 0 0 15px orange, 0 0 25px red, 0 0 35px red, 0 0 50px crimson;
      }
      100% {
        color: red;
        text-shadow: 0 0 10px red, 0 0 20px crimson, 0 0 30px darkred, 0 0 40px darkred;
      }
    }


    .valor {
        font-size: 3dvh;
        /* font-family:  tahoma ; */
        

    }

    .risco {
  color: red;
  text-decoration: line-through;
  font-family: kalan;
}

.preto {
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  font-family: kalan;
}

.amarelo {
  color: yellow;
  font-weight: bold;
  font-family: kalan;
}

 .font1 {
    font-family: kalan ;
    font-size: 8vw;
 }

 .font2 {
    font-family: kalan ;
    font-size: 3vw;
 }

 .fonttit {
    font-family: kalan ;
 }

 .logotopo {
    display: flex;
    align-items: center;
    /* background-color: black  ;
    background: linear-gradient(to bottom, black, #333); */
    
     background-image: url('./images/FundoVlogo.jpg');
    width: 100%;
    height: 230px;
     
}

 .logopng {
    max-width: 190px;

        }

h3 {
    font-family: "Kalan";
    font-size: 7vw; /* Tamanho proporcional à largura da tela */
    background: linear-gradient(45deg, rgb(17, 100, 9), rgb(142, 223, 153), rgb(90, 139, 90));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 





         .font5 {
    font-family: "Kalan";
    font-size: 39px;
    background: linear-gradient(45deg, rgb(17, 100, 9), rgb(142, 223, 153) ); /* Gradiente arco-íris */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.imagewhats {
    max-height: 120px;
}


 
.folha {
  position: absolute;
  width: 30%;
  /*Ajusteotamanhodafolha*/height: 20px;
  pointer-events: none;
  /*Garantequeasfolhasnãointerferemnomouse*/animation: cair 2s linear forwards;
  -webkit-animation: cair 2s linear forwards;
}

@keyframes cair {
  to {
    transform: translateY(200px); /* Queda vertical */
    opacity: 0; /* Desaparece gradualmente */
  }
}